<!DOCTYPE html>
<html ng-app="mainModule">
<head>
	<meta charset="utf-8">
	<title>Ejemplo de $apply</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script>
		angular.module("mainModule",[])
		.controller("FirstController", function($scope){
		 	$scope.nombre="Luis";
		 	/*
		 	setTimeout(function(){
		 		$scope.$apply(function(){
		 			$scope.nombre="Trossky";	
		 		});
		 	},2000)*/
			//Delegamos eventos, cuando no se usa Jquery
		 	document.querySelector("#mi_boton").addEventListener("click",function(){
		 		setTimeout(function(){
		 		$scope.$apply(function(){
		 			$scope.nombre="Trossky";	
		 		});
		 	},2000)
		 		
		 	})
		 });
	</script>
</head>
<body ng-controller="FirstController">
	<h1>{{ nombre }}</h1>
	<button id="mi_boton"> Haz Clic
		
	</button>
	<!-- Otra forma de cambiar los valores a las variales, sin preocuparnos or apply es:
	-->
	<button ng-click="nombre='Trossky Garcia' "> Mas Simple
		
	</button>
	
</body> 
</html>
