<!DOCTYPE html>
<html ng-app>
<head>
	<meta charset="utf-8">
	<title>Hello AngularJS</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>
	{{"Hola "+ "Mundo"}}

</body> 
</html>