<!DOCTYPE html>
<html ng-app="MyFirstApp">
<head>
	<title>Child Controller</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script type="text/javascript" src="controller.js"></script>

</head>
<body ng-controller="FirstController">
	{{nombre}}
	<p><strong>Valor del Padre: </strong>{{$parent.nombre}}</p>


	<div ng-controller="ChildController">

		<p><strong>Valor del Hijo: </strong>{{$parent.nombre}}</p>
		<input type="text" ng-model="$parent.nombre">

		
		
	</div>

</body>
</html>