<!DOCTYPE html>
<html ng-app="CustomDirective">
<head>
	<meta charset="UTF-8">
	<title>ng-src  And ng-cloak </title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script type="text/javascript" src="app.js"></script>

	<style>
		.circular{
			border-radius: 50%;
			width: 100px;
			height: 100px;
			display: inline-block;
		}
	</style>
</head>
<body ng-controller="AppCtrl">
	
	<ul class="no-list" ng-cloak>
		<li ng-repeat="repo in repos">
			<div class="circular" back-img="{{repo.owner.avatar_url}}">
			</div>
				<h1>{{repo.name}}</h1>
		</li>
		
	</ul>
	
</body>
</html>