<!DOCTYPE html>
<html ng-app>
<head>
	<meta charset="UTF-8">
	<title>ng-events</title>
	<style>
		.hover{
			background-color: rgb(200,50,50); 
		}
		.no-hover{
			background-color: rgb(50,200,50); 
		}
	</style>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>
<h1>Manejo de Eventos</h1>
<p>Pueden usar cualquiera de los eventos que esten e AnjularJS <br>
Para este ejemplo usamos un par nada mas</p>
<div>
	<ul>
		<li> <a href="https://docs.angularjs.org/api/ng/directive/ngMouseover" target="_black">ng-mouseover</a></li>
		<li> <a href="#1">ng-mouseout</a></li>
		<li>ng-click</li>
		<li>ng-class</li>
	</ul>
</div>
<br>
<div id="1">
	<h3>Uso de ng-mouseover y ng-mouseout</h3>
	<button ng-mouseover="bandera = true" ng-mouseout="bandera = false">
		Hover me
	</button> <span ng-show="bandera">&lt;- click me </span>
	<p>
		{{bandera | json}}
	</p>
	
</div>
<div id="2">
	<h3>Uso de ng-click</h3>
	<button ng-click="bandera1 = !bandera1">
		Hover me
	</button> <span ng-show="bandera1">&lt;- click me </span>
	<p>
		{{bandera1 | json}}
	</p>
</div>

<div id="3">
	<h3>Uso de ng-class- Depende del valor de verdad de la variable de javaScript, aplica la clase de css</h3>
	<button ng-click="bandera2 = !bandera2 " ng-class="{'hover': bandera2, 'no-hover': !bandera2}">
		Hover me
	</button> <span ng-show="bandera2">&lt;- click me </span>
	<p>
		{{bandera2 | json}}
	</p>
	
</div>
	
</body>
</html>