<!DOCTYPE html>
<html ng-app="MyFirstApp">
<head>
	<meta charset="utf-8">
	<title>Hello AngularJS</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="controller.js"></script>
</head>
<body ng-controller="FirstController">
	<input type="text" ng-model="newPost.title" >
	<br>
	<textarea type="text" ng-model="newPost.body" > </textarea>
	<br>
	<button ng-click="addPost()"> Enviar </button>
	<ul>
		<li ng-repeat="post in posts">
			<h2>{{post.title}}</h2>
			<p>
				{{post.body}}
			</p>	
		</li>
	</ul>
</body> 
</html>
