<h1>Hola</h1>
<div class="card top-space">
	<div class="p+" >
		<strong class="fs-headline display-block tc-red-900">
			{{post.title}}
		</strong>
		<div class="paragraph fs-body-1 mt+">
			{{post.body}}
		</div>
	</div>
	<div class="card__actions">
		<a href="#/" class="btn btn--m btn--blue btn--flat" lx-ripple>Atras</a>
	</div>
</div>