<!DOCTYPE html>
<html ng-app="MyFirstApp">
<head>
	<meta charset="utf-8">
	<title>Hello AngularJS</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="controller.js"></script>
</head>
<body ng-controller="FirstController">
	<input type="text" ng-model="nuevoComentario.comentario">
	<br>
	<input type="text" ng-model="nuevoComentario.username">
	<br>
	<button ng-click="agregarComentario()"> Comentar </button>
	<br>
	<h3> Comentarios</h3>
	<ul>
		<li ng-repeat="comentario in comentarios">
		{{comentario.comentario}} - <strong>{{comentario.username}}</strong>
			 
		</li>
	</ul>

</body> 
</html>
